<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>DI Milestone - Ascha</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" type="text/css" />
		<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
	</head>
	<body>
		<div class=page>
			<h4> Please enter a ticker below: </h4>
			<div class=metanav>
				<form id='ticker' method='get' action='graph'>
					<p>
					Ticker: <input type='text' name='ticker'> </input>
					</p>
					<h4> Price to plot: </h4>
					<p>
					Open: <input type='checkbox' name='open' value='True' > </input>
					</p>
					<p>
					High: <input type='checkbox' name='high' value='True'> </input>
					</p>
					<p>
					Low: <input type='checkbox' name='low' value='True'> </input>
					</p>
					<p>
					Close: <input type='checkbox' name='close' value='True'> </input>
					</p>
					<p>
					Adj. Open: <input type='checkbox' name='adj_open' value='True'> </input>
					</p>
					<p>
					Adj. High: <input type='checkbox' name='adj_high' value='True'> </input>
					</p>
					<p>
					Adj. Low: <input type='checkbox' name='adj_low' value='True'> </input>
					</p>
					<p>
					Adj. Close: <input type='checkbox' name='adj_close' value='True'> </input>
					</p>
					<p>
					<input type='submit' value='Submit'>
					</p>
			</div>

		</div>
	</body>
</html>
